body {
  background-color: black;
  font-family: 'Open Sans', sans-serif;
	color:#fff;
}


.flashPlayerLayerFlayer {
	background-image:url(/tempHomeImg/hrlogo.png); background-repeat:no-repeat; background-size:300px auto; background-position:center center;
	min-height:200px;
}

a {color:#fff;}
a:hover {color:#fff;}
a:active {color:#fff;}

footer {
  padding-top: 2rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}

.navbar {
  margin-bottom: 0;
	margin-top: 0;
	padding: 0;
font-size:24px;
font-family: 'Luckiest Guy', cursive; 
color:#fff;
}


.navbar-dark .navbar-nav .nav-link {
		color: rgba(255,255,255,1.0);
	}


.navbar-fixed-top,
.navbar-fixed-bottom {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1030;
	padding-right: 0;
    padding-left: 0;
}
