<!--

!!HOW TO CREATE NEW BUTTONS
---------------------------------
step 1. paste the following:
    {% include btn.html url='url' name='name' thumbnail='thumbnail' %}

step 2. upload your game's thumbnail to roots/images/thumbnails

step 3. you are done!

important notice: url is already pointed to the games folder, and thumbnails is already
pointed to the thumbnails folder. all you need to do is put in the folder/filename -
otherwise you would be going to games/games/yourgame/, or
roots/images/thumbnails/roots/images/thumbnails/yourthumbnail.png.png

-->

{% include btn.html url='url' name='b' thumbnail='testbird' %}
{% include btn.html url='url' name='a' thumbnail='testbird' %}
{% include btn.html url='url' name='c' thumbnail='testbird' %}
{% include btn.html url='url' name='e' thumbnail='testbird' %}
{% include btn.html url='url' name='d' thumbnail='testbird' %}
{% include btn.html url='url' name='j' thumbnail='testbird' %}