body {
  background-color:black;
  text-align: center;
}
h1 {
font-family: 'Pixel', roboto, sans-serif;
font-weight:normal;
font-style:normal;
font-size:75px;
color:white;
}
#game{
  background-color:rgb(3, 3, 3);
  width: 500px;
  height: 300px;

}
p {
font-family: 'Pixel', roboto, sans-serif;
font-weight:normal;
font-style:normal;
font-size:20px;
color:white;
}
h2 {
  font-family: 'Pixel', roboto, sans-serif;
  font-weight:normal;
  font-style:normal;
  font-size:25px;
  color:white;
  text-align:center;
}
a:link{
 text-decoration:none; 
  
  
}
label{
  font-family: "Pixel";
  color:white;
  font-size: 20px;
  text-align:center;
}
.boys {
        font-size:15px;
        font-family:"Pixel";
        display: inline-block;
        padding: 25px 50px;
        text-align: center;
        text-decoration: firebrick;
        color: white;
        background-color: black;
        border-radius: 6px;
        outline: none;
        border: 2px solid darkgrey;
      }
.boys:hover {
  background-color: rgb(31, 31, 31);
  color:whitesmoke;
  border: 2px solid darkgrey;
}
@font-face {
    font-family: 'Pixel';
    src: url('slkscr-webfont.woff2') format('woff2'),
         url('slkscr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
