@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

nav {
    left: 25px;
    position: relative;
    top: 10px;
    margin: 0 auto;
    width: 80%;
  }
  
  nav a {
    color: #ffffff;
    font-family: 'arial black', arial, sans-serif;
    padding: 0.5vh;
    text-decoration: none;
  
    background-color: black;
    hover {background-color: yellow; color: black;}
  }

  
  
  .nav-home:hover {background-color: yellow; color: black;}
  .nav-my-videos:hover {background-color: yellow; color: black;}
  .nav-about-my-channel:hover {background-color: yellow; color: black;}
  .nav-my-photoshop:hover {background-color: yellow; color: black;}
  
  nav a {
    transition: background-color 0.5s ease;
  }
  
body {
    background-color: #23272a !important;
    font-family: 'Ubuntu Mono', monospace;
}

a {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
}

footer {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    text-align: center;
}

p {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Ubuntu Mono', monospace;
    color: white;
    text-align: center;
}

h2 {
    text-align: center;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}
.list {
    font-size: 24px;
    text-align: center;
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

.bannerlogo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
button {
    background-color:#23272a;
    font-family: 'Ubuntu Mono', monospace;
    border-color:#23272a;
}

li {
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
}

#splash {
    font-family: 'Ubuntu Mono', monospace;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #23272a;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #393d3f;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4f5255;
  }

.topnav {
    overflow: hidden;
    background-color: #121415;
}

.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: 'Ubuntu Mono', monospace;
}

.topnav img {
    float: left;
    display: block;
}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.topnav a.active {
    background-color: #fb7e14;
    color: white;
}

.topnav input[type=text] {
    float: right;
    padding: 6px;
    border: none;
    margin-top: 8px;
    margin-right: 16px;
    font-size: 17px;
    font-family: 'Ubuntu Mono', monospace;
}

@media screen and (max-width: 600px) {
    .topnav a,
    .topnav input[type=text] {
        float: none;
        display: block;
        text-align: left;
        width: 100%;
        margin: 0;
        padding: 14px;
    }
    .topnav input[type=text] {
        border: 1px solid #ccc;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    color: white;
    font-family: 'Ubuntu Mono', monospace;
}

*, ::after, ::before {
    box-sizing: initial !important;
}

.breadcrumb {
    color: white;
    padding: 8px;
}

*{
    transition: all 0.6s;
}

html {
    height: 100%;
}

#main{
    display: table;
    width: 100%;
    height: 100vh;
    text-align: center;
}

.fof{
	  display: table-cell;
	  vertical-align: middle;
}

.fof h1{
	  font-size: 50px;
	  display: inline-block;
	  padding-right: 12px;
	  animation: type .5s alternate infinite;
}

@keyframes type{
	  from{box-shadow: inset -3px 0px 0px #888;}
	  to{box-shadow: inset -3px 0px 0px transparent;}
}

#lunrsearch{
    width: 25%;
    top: -1px;
    position: absolute;
    right: 5px;
}
