.ascii {
    color: green;
    font-size: 17px;
    text-align: center;
    font-family: 'Ubuntu Mono', monospace;
}

body {
    background-color: black !important;
}

.consoletext {
    color: green;
    font-family: 'Ubuntu Mono', monospace;
    text-align: center;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: black;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #393d3f;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #4f5255;
  }