
<!DOCTYPE html>
<html lang="en">

<head>

 <!--embed protection-->
 <script type="text/javascript">
 if (top.location != self.location)
 top.location = self.location;
 </script>

    <!--media.net ads!!! -->
<script type="text/javascript">
    window._mNHandle = window._mNHandle || {};
    window._mNHandle.queue = window._mNHandle.queue || [];
    medianet_versionId = "3121199";
</script>
    <!-- media.net ads!!!! -->
<script src="https://contextual.media.net/dmedianet.js?cid=8CUI477C5" async="async"></script>
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-134HXE8JTB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-134HXE8JTB');
    </script>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WWNF2VN');</script>
    <!-- End Google Tag Manager -->
    <script async src="https://arc.io/widget.min.js#uM9wC8nd"></script>
    <!-- Arc -->
    <!-- Primary Meta Tags -->
    <title>{{ page.title }} – {{ site.title }}</title>
    <meta name="title" content="The Mesa Complex - Unblocked Games and Emulators.">
    <meta name="description" content="" Unforeseen Consequences"">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mesacomplex.tk/">
    <meta property="og:title" content="">
    <meta property="og:description" content="" Unforeseen Consequences"">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:title" content="The Mesa Complex - Unblocked Games and Emulators.">
    <meta property="twitter:description" content="" Unforeseen Consequences"">

    <!--Favicon Information-->
    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <link rel="mask-icon" href="safari-pinned-tab.svg" color="#fb7e14">
    <meta name="apple-mobile-web-app-title" content="The Mesa Complex">
    <meta name="application-name" content="The Mesa Complex">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="https://bored-entertainment.github.io/bootstrap/bootstrap.bundle.min.js"></script>
    <link href="https://bored-entertainment.github.io/themesacomplex/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bored-entertainment.github.io/themesacomplex/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="css/cookie.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1455382176703207"
     crossorigin="anonymous"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWNF2VN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="topnav">
        <a href="/"><img src="images/lambda.png" width="25" height="25" alt="searchlogo" class="searchlogo"></a>
        <a id="homeNav" href="https://bored-entertainment.github.io/themesacomplex/">Home</a>
        <a id="gamesNav" href="https://bored-entertainment.github.io/themesacomplex/games/">Games</a>
        <a id="emuNav" href="https://bored-entertainment.github.io/themesacomplex/emulators/">Emulators</a>
        <a id="aboutNav" href="https://bored-entertainment.github.io/themesacomplex/info/about/">About</a>
        {% include search-lunr.html %}
    </div>

    <div id="lunrsearchresults">
        <ul></ul>
    </div>

    {{ content }}

    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyA6pjFXr7ndpi6mF7fxwqrgvO8q-yDrlts",
          authDomain: "mesacomplex-363f8.firebaseapp.com",
          projectId: "mesacomplex-363f8",
          storageBucket: "mesacomplex-363f8.appspot.com",
          messagingSenderId: "936739543025",
          appId: "1:936739543025:web:0d9d4ecf739fd8f89d1650",
          measurementId: "G-LX2G6GWH19"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>
        
            </script>
            <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
            <script>
            window.cookieconsent.initialise({
              "palette": {
                "popup": {
                  "background": "#030404",
                  "text": "#ffffff"
                },
                "button": {
                  "background": "#fb7e14",
                  "text": "#ffffff"
                }
              },
              "theme": "edgeless"
            });
            </script>
      </body>
</body>

</html>
