<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-134HXE8JTB"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-134HXE8JTB');
    </script>
    <!-- Google Tag Manager -->
    <script>
    (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-WWNF2VN');</script>
    <!-- End Google Tag Manager -->
    <!-- Primary Meta Tags -->
    <title>{{ page.title }} – {{ site.title }}</title>
    <meta name="title" content="The Mesa Complex - Unblocked Games and Emulators.">
    <meta name="description" content="" Unforeseen Consequences"">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://mesacomplex.tk/">
    <meta property="og:title" content="The Mesa Complex - Unblocked Games and Emulators.">
    <meta property="og:description" content="" Unforeseen Consequences"">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://mesacomplex.tk/">
    <meta property="twitter:title" content="The Mesa Complex - Unblocked Games and Emulators.">
    <meta property="twitter:description" content="" Unforeseen Consequences"">

    <!--Favicon Information-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fb7e14">
    <meta name="apple-mobile-web-app-title" content="The Mesa Complex">
    <meta name="application-name" content="The Mesa Complex">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="/css/cookie.css" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-1455382176703207"
     crossorigin="anonymous"></script>
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WWNF2VN"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div class="topnav">
        <a href="/"><img src="/images/lambda.png" width="25" height="25" alt="searchlogo" class="searchlogo"></a>
        <a id="homeNav" href="/">Home</a>
       
        <a id="aboutNav" href="/info/about/">About</a>
        <a id="contactNav" href="/info/contact/">Contact</a>
        <a id="forumNav" href="https://forum.mesacomplex.tk">Forums</a>
        {% include search-lunr.html %}
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% for crumb in crumbs offset: 1 %}
            {% if forloop.last %}
            <li class="breadcrumb-item active" aria-current="page">
                {{
                crumb | replace:'-',' ' | remove:'.html' |
                capitalize
                }}
            </li>
            {% else %}
            <li class="breadcrumb-item">
                <a href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">
                    {{
                    crumb | replace:'-',' ' | remove:'.html' | capitalize
                    }}
                </a>
            </li>
            {% endif %}
            {% endfor %}



        </ol>
    </nav>

    <div id="lunrsearchresults">
        <ul></ul>
    </div>

    <div class="container">
        <div class="row text-center">
            <div class="col">

                <br>
                <h2>{{ page.title }}</h2>
                <hr>

                {{ content }}

            </div>
        </div>
    </div>

    <br>

    <script src="/ruffle/ruffle.js"></script>
    <script src="/emulators/emulator.js/src/data/loader.js"></script>
    <p>half life 3 confirmed</p>
    <script type="module">
        // Import the functions you need from the SDKs you need
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.6.6/firebase-analytics.js";
        // TODO: Add SDKs for Firebase products that you want to use
        // https://firebase.google.com/docs/web/setup#available-libraries
      
        // Your web app's Firebase configuration
        // For Firebase JS SDK v7.20.0 and later, measurementId is optional
        const firebaseConfig = {
          apiKey: "AIzaSyA6pjFXr7ndpi6mF7fxwqrgvO8q-yDrlts",
          authDomain: "mesacomplex-363f8.firebaseapp.com",
          projectId: "mesacomplex-363f8",
          storageBucket: "mesacomplex-363f8.appspot.com",
          messagingSenderId: "936739543025",
          appId: "1:936739543025:web:0d9d4ecf739fd8f89d1650",
          measurementId: "G-LX2G6GWH19"
        };
      
        // Initialize Firebase
        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
      </script>
      <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
      <script>
      window.cookieconsent.initialise({
        "palette": {
          "popup": {
            "background": "#030404",
            "text": "#ffffff"
          },
          "button": {
            "background": "#fb7e14",
            "text": "#ffffff"
          }
        },
        "theme": "edgeless"
      });
      </script>
      <footer>
      <p>n1swordslashers chat!</p>
      <embed src="chat/" width="900" height="700" allowfullscreen>
      </footer>
</body>

</html>
