<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Primary Meta Tags -->
    <title>{{ page.title }} – {{ site.title }}</title>
    <meta name="title" content="The Mesa Complex - Unblocked Games, Proxys and Emulators.">
    <meta name="description" content="" Unforeseen Consequences"">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://metatags.io/">
    <meta property="og:title" content="The Mesa Complex - Unblocked Games, Proxys and Emulators.">
    <meta property="og:description" content="" Unforeseen Consequences"">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://metatags.io/">
    <meta property="twitter:title" content="The Mesa Complex - Unblocked Games, Proxys and Emulators.">
    <meta property="twitter:description" content="" Unforeseen Consequences"">

    <!--Favicon Information-->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fb7e14">
    <meta name="apple-mobile-web-app-title" content="The Mesa Complex">
    <meta name="application-name" content="The Mesa Complex">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <script src="/bootstrap/bootstrap.bundle.min.js"></script>
    <link href="/bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <div class="topnav">
        <a href="/"><img src="/images/lambda.png" width="25" height="25" alt="searchlogo" class="searchlogo"></a>
        <a href="/">Home</a>
        <a href="/info/about/">About</a>
        <a href="/info/contact/">Contact</a>
        <input type="text" placeholder="Search..">
    </div>

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">

            {% assign crumbs = page.url | remove:'/index.html' | split: '/' %}
            <li class="breadcrumb-item"><a href="/">Home</a></li>
            {% for crumb in crumbs offset: 1 %}
            {% if forloop.last %}
            <li class="breadcrumb-item active" aria-current="page">{{ crumb | replace:'-',' ' | remove:'.html' |
                capitalize }}</li>
            {% else %}
            <li class="breadcrumb-item"><a
                    href="{% assign crumb_limit = forloop.index | plus: 1 %}{% for crumb in crumbs limit: crumb_limit %}{{ crumb | append: '/' }}{% endfor %}">{{
                    crumb | replace:'-',' ' | remove:'.html' | capitalize }}</a></li>
            {% endif %}
            {% endfor %}



        </ol>
    </nav>

    <div class="container">
        <div class="row text-center">
            <div class="col">

                <br>
                <h2>{{ page.title }}</h2>
                <hr>

                {{ content }}

            </div>
        </div>
    </div>

    <br>

    <script src="/ruffle/ruffle.js"></script>
</body>

</html>